# Ignore Python bytecode files
**/__pycache__/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore text editor backup and swap files
*~
.*.swp

# Ignore compiled files
*.pyc
*.pyo
*.pyd

# Ignore IDE-specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Ignore log files
*.log

# Ignore compiled binary files
*.exe
*.dll
*.out

# Ignore package manager directories
# (e.g., pipenv, poetry, npm, yarn)
.lock/
*.zip
*.pov

# Ignore the logs folder in the train folder
**/logs/
